.sectionSobreMi{
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .imgSobreMi{
        display: flex;
        border: 1vw solid white;
        background-color: $colorFondoRosa;
        width: 500px;
        height: 500px;
        justify-content: center;
        align-items: center;
        animation: movimientoImgSM 2s ease;

        img{
            display: inline-block;
            height: 90%;
            width: 90%;
            padding: 20px;
            border-radius: 50%;
            object-fit: cover;
        }

        @keyframes movimientoImgSM {
            0% {margin-left: -1000px;}
            100% {margin-left: 0%;}
        }
    }

    .sectionTextoSobreMi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        overflow: hidden;
        animation: movimientoSM 2s ease;

        h1{
            display: inline-block;
            margin-bottom: 10px;
        }
        p{
            display: block;
            @extend .pBase;
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 0%;
            width: 40vw;
        }

        @keyframes movimientoSM {
            0% {margin-bottom: -1000px;}
            100% {margin-bottom: 0;}
        }
    }
}

@media (max-width: 1024px){

    .sectionSobreMi{
        .imgSobreMi{
            width: 400px;
            height: 400px;
        }

        .sectionTextoSobreMi{
            h1{
                font-size: 180%;
            }

            p{
                font-size: 14px;
                width: 45vw;
            }
        }
    }
}

    

@media (max-width:768px){

    .sectionSobreMi{
        
        .imgSobreMi{
            width: 380px;
            height: 380px;

            img{
                padding: 0;
            }
        }

        .sectionTextoSobreMi{
            P{
                font-size: 13px;
                width: 50vw;
            }
        }
    }
}

@media (max-width: 600px){
    .sectionSobreMi{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        .imgSobreMi{
            background-color: transparent;
            border: none;
            height: 30vh;
            width: 100%;
            justify-content: center;
    
            img{
                height: 150px;
                width: 150px;
            }

            @keyframes movimientoImgSM {
                0% {margin-bottom: -1000px;}
                100% {margin-bottom: 0;}
            }
        }

        .sectionTextoSobreMi{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            width: 90vw;
            height: 50vh;

            h1{
                font-size: 140%;
                margin-top: 10px;
            }
            
            p{
                margin: 0px 12px 8px 12px;
                font-size: 12px;
                width: 100%;
            }

            @keyframes movimientoSM {
                0% {margin-left: -1000px;}
                100% {margin-left: 0;}
            }
        }
    }
}

@media (max-width: 420px){
    .sectionSobreMi{
       
        .imgSobreMi{
            height: 30vh;
        }
    
        .sectionTextoSobreMi{
            align-content: space-between;
            height: 50vh;
    
            h1{
                font-size: 125%;
                margin: 0px 0px 4px 0px
            }
        
            p{
                margin: 0px 4px 4px 4px;
                font-size: 10px;
            }
        }
    }       
}









